/* Reset some default styles */
body, h1, h2, h3, p, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}


.jj {
    height: 5px;
}
header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 24px;
}

#content {
    text-align: center;
    margin: 20px;
}

#imageslider {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
}

#img-box {
    margin: 10px 0;
}

img {
    max-width: 100%;
    height: auto;
}

#alphabet {
    font-size: 24px;
    font-weight: bold;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: 10px;
}

footer {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Apply responsiveness using media queries */
@media (max-width: 768px) {
    h1 {
        font-size: 20px;
    }

    #alphabet {
        font-size: 20px;
    }

    button {
        padding: 8px 16px;
        margin: 8px;
    }
}
